import("utils")
import("FLCore")
importFrom(stockassessmentComp,defcon)
importFrom(stockassessmentComp,defpar)
importFrom(stockassessmentComp,setup.sam.data)
importFrom(stockassessmentComp,sam.fit)
importFrom(stockassessmentComp,forecast)
importFrom(TMB,MakeADFun)
importFrom(TMB,oneStepPredict)
importFrom(TMB,sdreport)
importFrom(ellipse,plotcorr)
exportClasses(
    "FLSAM",
    "FLSAMs",
    "FLSAM.control")
export(
    "FLSAM",
    "FLSAM.control",
    "retro",
    "looi",	
    "kobeFLSAM")
exportPattern("^[^\\.]")
importFrom("graphics", "abline", "axis", "barplot", "contour", "grid",
  "layout", "lcm", "legend", "lines", "par", "points",
  "polygon", "text", "title")
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "acf", "aggregate", "approxfun", "as.ts", "setNames",
  "cov2cor", "density", "loess.smooth", "na.omit", "na.pass",
  "nlminb", "pchisq", "qqline", "qqnorm")
importFrom("methods", "as", "is", "new", "slot", "slot<-", "slotNames",
  "validObject")
