import("FLCore")
import("utils")
import("methods")
importFrom(stockassessment,defcon)
importFrom(stockassessment,defpar)
importFrom(stockassessment,setup.sam.data)
importFrom(stockassessment,sam.fit)
importFrom(TMB,MakeADFun)
importFrom(TMB,oneStepPredict)
importFrom(TMB,sdreport)
importFrom(ellipse,plotcorr)
exportClasses(
    "FLSAM",
    "FLSAMs",
    "FLSAM.control")
export(
    "FLSAM",
    "FLSAM.control",
    "retro",
    "looi",	
    "kobeFLSAM")
exportPattern("^[^\\.]")
useDynLib(stockassessment)
