import("FLCore")
import("utils")
import("methods")
importFrom(stockassessment,defcon)
importFrom(stockassessment,setSeq)
importFrom(stockassessment,setS)
importFrom(stockassessment,defpar)
importFrom(stockassessment,setup.sam.data)
importFrom(stockassessment,sam.fit)
importFrom(stockassessment,getLowerBounds)
importFrom(stockassessment,getUpperBounds)
importFrom(stockassessment,clean.void.catches)
importFrom(TMB,MakeADFun)
importFrom(TMB,oneStepPredict)
importFrom(TMB,sdreport)
importFrom(ellipse,plotcorr)
exportClasses(
    "FLSAM",
    "FLSAMs",
    "FLSAM.control")
export(
    "FLSAM",
    "FLSAM.control",
    "kobeFLSAM")
exportPattern("^[^\\.]")
useDynLib(stockassessment)
